# Better safe than sorry
alias rm="rm -i"

# Shorthand navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Exa aliases
alias ls="exa"
alias l="exa --long"
alias la="exa --long --all"

# Vim aliases
alias v="vim"

# Git aliases
alias g="git"
alias gl="git pull --prune"
alias gp="git push"
alias gd="git diff"
alias gdc="git diff --cached"
alias gc="git commit"
alias gca="git commit -a"
alias gco="git checkout"
alias gb="git branch"
alias gs="git status -sb"
alias gm="git merge"
alias gr="git rebase"
alias gri="git rebase -i"
alias gpr="git pull-request"
alias gst="git stash"

# Docker aliases
alias d="docker"
alias dc="docker-compose"
alias dm="docker-machine"

# IRSSI aliases
alias irc="irssi"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Get a UNIX timestamp
alias now="date +%s"
