[core]
	excludesfile = ~/.gitignore

[init]
	defaultBranch = main

[user]
	name = Kasper Isager Dalsgarð
	email = kasperisager@hey.com

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[gpg]
	format = ssh

[gpg "ssh"]
	defaultKeyCommand = ssh-add -L

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
