[core]
	excludesfile = ~/.gitignore

[init]
	defaultBranch = main

[user]
	name = Kasper Isager Dalsgarð
	email = kasperisager@hey.com

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[gpg]
  format = ssh

[gpg "ssh"]
	defaultKeyCommand = ssh-add -L
